atomicwrites==1.4.0
attrs==20.3.0
chromedriver==2.24.1
chromedriver-install==1.0.3
chromedriver-py==87.0.4280.20
colorama==0.4.4
iniconfig==1.1.1
more-itertools==8.6.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==5.1.1
selenium==3.141.0
six==1.15.0
toml==0.10.2
urllib3==1.26.2
wcwidth==0.2.5
